@import "../style.module.scss";
.home,
.blog {
	width: 100%;
	padding: 0 2rem;
	margin-top: 2rem;
	display: flex;
	&_navbar {
		&_plus {
			margin-left: 1.3rem;
			width: 4.6rem;
			height: 4.6rem;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 1.8rem;
			background-color: #1473e6;
			border-radius: 50%;
			font-size: 1.8rem;
			color: white;
			cursor: pointer;
		}
		&_items {
			text-decoration: none;
		}
		&_items > div {
			width: 7rem;
			height: 7rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: black;
			font-size: 1.8rem;
			margin-bottom: 0.5rem;
			&.active {
				background-color: rgba(0, 0, 0, 0.1);
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.05);
			}
			border-radius: 2rem;
			& > span {
				font-size: 1.2rem;
				margin-top: 0.5rem;
				font-weight: 600;
			}
		}
	}
}
.blog_container {
	margin-left: 8rem;
	margin-top: 8rem;
	width: 100%;
	@include mobile {
		margin-left: 0;
	}
	&_body {
		margin-bottom: 40px;
		&_cards {
			display: flex;
			flex-wrap: wrap;
			margin-left: -24px;
		}
	}
	&_header {
		height: 200px;
		background-color: #71fff8;
		border-radius: 16px;
		display: flex;
		align-items: center;
		&_left {
			width: 50%;
			padding-left: 40px;
			& > h2 {
				font-weight: 700;
				font-size: 2.2rem;
				margin-bottom: 20px;
			}
			& > p {
				font-size: 1.4em;
				opacity: 0.6;
			}
		}
		&_right {
			width: 50%;
			padding-left: 40px;
			display: flex;
			&_input {
				width: 70%;
				height: 40px;
				background-color: #fff;
				display: flex;
				border-radius: 2rem;
				& > input {
					height: 100%;
					flex: 1;
					border: none;
					padding: 20px;
					background-color: transparent;
					outline: none;
					font-size: 1.4rem;
					font-weight: 600;
					width: 70%;
				}
				& > input::placeholder {
					font-size: 1.4rem;
					font-weight: 540;
				}

				& > button {
					height: 100%;
					border: none;
					background-color: transparent;
					align-items: center;
					width: 40px;
					font-size: 1.6rem;
					border-radius: 50%;
					cursor: pointer;
					&:hover {
						background-color: #ff605e;
						transition: 0.3s ease-in-out;
					}
				}
			}
		}
	}
}
//Blog detail

.blog_detail {
	display: flex;
	margin-left: 8rem;
	padding: 0 44px 60px;
	margin-top: 40px;
	flex-wrap: wrap;
	&_user {
		width: 20%;
		margin-left: 8%;
		&_info > h2 {
			font-size: 2rem;
			color: #292929;
			font-weight: 600;
			margin-top: 2.4rem;
			margin-bottom: 1.4rem;
		}
		&_react {
			margin-top: 2.4rem;
			display: flex;
			& > i {
				font-size: 2rem;
				opacity: 0.5;
				cursor: pointer;
			}
			&_love {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&_love > i {
				font-size: 2rem;
				opacity: 0.5;
				cursor: pointer;
			}

			&_love > span {
				text-align: center;
				margin-left: 1.2rem;
				font-size: 1.6rem;
				color: #757575;
			}
			& > i:hover {
				opacity: 1;
			}
		}
	}
	&_center {
		display: flex;
		width: 50%;
		flex-direction: column;
		&_header {
			margin-bottom: 26px;
		}
		&_header > h2 {
			color: #222;
			font-size: 40px;
			font-weight: 700;
		}
		&_info {
			display: flex;
			align-items: center;
		}
		&_info > img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
		&_info_user {
			margin-left: 18px;
		}
		&_info_user > h2 {
			color: #222;
			font-size: 1.6rem;
			font-weight: 600;
		}
		&_content {
			margin-top: 30px;
		}
		&_content > p {
			font-size: 1.8rem;
			line-height: 1.6;
		}
	}
}

.warper_cover {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

.active {
	background-color: #f05123;
}
@keyframes fadeIn {
	0% {
		transform: translateX(700px);
	}
	100% {
		transform: translateX(0);
	}
}
.comment_Container {
	margin-top: 10rem;
}
.newPost {
	width: calc(100% - 11rem);
	margin-left: 11rem;
	margin-top: 8rem;
	@include mobile {
		width: 100%;
		margin-left: 0;
		margin-top: 5rem;
	}
	min-height: 100vh;
}
.DraftEditor-root {
	font-size: 24px;
}
.newPost_title {
	width: auto;
	margin-top: 2rem;
	margin-bottom: 4rem;
	position: relative;
	display: flex;
}
.newPost_title_edit {
	width: 100%;
	font-size: 3.5rem;
	outline: none;
	font-weight: 800;
	color: rgba(0, 0, 0, 0.4);
	z-index: 10;
	position: relative;
}
.newPost_title_content {
	position: absolute;
	top: 0;
	z-index: 5;
	left: 0;
	font-size: 3.5rem;
	outline: none;
	font-weight: 800;
	color: rgba(0, 0, 0, 0.4);
}
.newPost_update {
	position: fixed;
	bottom: 5rem;
	right: 5rem;
	& > button {
		padding: 0.8rem 3rem;
		cursor: pointer;
		border-radius: 10rem;
		background-color: #f05123;
		outline: none;
		color: white;
		font-size: 1.5rem;
		border: none;
		&:hover {
			background-color: rgba(240, 81, 35, 0.8);
		}
	}
}
.newPost_content {
	position: relative;
}
.newPost_content_title {
	position: absolute;
	top: 7rem;
	@include mobile {
		top: 28.3rem;
	}
	left: 0;
	font-size: 2.4rem;
	color: rgba(0, 0, 0, 0.4);
}
.newPost_title_edit_meta {
	width: calc(100% - 20rem);
	font-size: 2.7rem;
	outline: none;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
	z-index: 10;
	position: relative;
}
.newPost_title_content_meta {
	position: absolute;
	top: 0;
	z-index: 5;
	left: 0;
	font-size: 2.7rem;
	outline: none;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
}
.newPost_select {
	width: 50%;
	margin: 2rem 0;
	& > div {
		width: 50%;
	}
}
.newPost_title_content_meta_ref {
	position: absolute;
	top: 0;
	z-index: 30;
	left: 0;
	font-size: 2.7rem;
	outline: none;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
}
.button_update_post {
	z-index: 1000;
}
.newPost_input_title {
	width: 100%;
	outline: none;
	border: none;
	font-size: 3.5rem;
	font-weight: 700;
	min-height: 10rem;
	resize: vertical;
}
.newPost_title_input {
	flex: 1;
}
