.quizz {
    width: 100%;
    min-height: 10rem;
    margin-top: 4rem;
}
.quizzCard {
    width: 100%;
    margin-bottom: 5rem;
    padding: 0 2rem;
    &_title {
        font-size: 2.5rem;
    }
    &_answer {
        &_items {
            margin-top: 3rem;
            font-size: 1.8rem;
            & > input {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.5rem;
            }
        }
        font-family: "Playfair Display", serif;
    }
}
.quizz_button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    & > button {
        padding: 1.5rem 8rem;
        font-size: 2rem;
        cursor: pointer;
        background-color: #ff005e;
        border: none;
        color: white;
        border-radius: 10rem;
        transition: all ease 0.15s;
        &:hover {
            transform: scale(0.9);
        }
    }
}
.quizz_form {
    width: 100%;
    height: calc(100vh - 16rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}
.quiz_title {
    font-size: 5rem;
    width: 100%;
    min-height: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.quiz_times {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 5rem;
}
.quiz_content {
    margin-top: 2rem;
    display: flex;
}
.quiz_content_content {
    width: 80%;
    font-size: 2.5rem;
}
.quiz_abs {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}
.quiz_abs_container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
.quizz_time {
    position: fixed;
    background-color: white;
    top: 0;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.quiz_abs_card_container {
    margin-top: 10rem;
    padding: 0 20rem;
}
.quizzCard {
    background-color: #f2f2f2;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
}
.quiz_abs_card_button_save {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.quizzCard_answer_items {
    align-items: center;
    & > label {
        cursor: pointer;
    }
    & > input {
        width: 2rem;
        height: 2rem;
    }
}
