.profile {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 5rem;
  &_container {
    margin-top: 90px;
    margin-bottom: 24px;
    display: flex;
    &_courses {
      &_done {
        width: 50%;
        margin-right: 20px;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);
        border-radius: 8px;
        padding: 0 16px;
      }
      &_title {
        margin: 12px 0;
        & > h3 {
          font-size: 1.6rem;
          font-weight: 600;
          margin: 0 0 8px;
        }
      }
    }
  }
}
.profile_header {
  margin: 0 auto;
  margin-top: 28px;
  background-image: url("https://fullstack.edu.vn/static/media/cover-profile.3fb9fed576da4b28386a.png");
  height: 300px;
  background-repeat: no-repeat;
  border-radius: 18px;
  position: relative;
  &_change {
    position: absolute;
    bottom: -40px;
    right: 0;
    display: flex;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    align-items: center;
    width: 200px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    &:hover {
      background-color: #d0d7de;
    }
    & > i {
      font-size: 1.6rem;
    }
    & > h3 {
      margin-left: 10px;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
.profile_header_user {
  display: flex;
  position: absolute;
  bottom: -70px;
  left: 40px;
  & > img {
    height: 172px;
    width: 172px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #fff;
  }
  & > div {
    align-self: flex-end;
    & > h2 {
      margin-bottom: 10px;
      font-size: 2.8rem;
      font-weight: 700;
    }
  }
}
.profile_header_fix {
  display: flex;
  position: absolute;
  right: 15px;
  bottom: 14px;
  background-color: #fff;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  &_icon > i {
    font-size: 2rem;
  }
  &_text {
    margin-left: 6px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    & > h3 {
      font-weight: 500;
    }
  }
  &:hover {
    opacity: 0.8;
  }
}
.course_card {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d7de;
  &:hover {
    transform: scale(1.03);
    transition: 0.1s ease-in;
  }
  &:last-child {
    border-bottom: none;
  }
  &_img {
    width: 228px;
    height: 128px;
    flex-shrink: 0;
    margin-right: 24px;
    cursor: pointer;
    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  &_info {
    & > h3 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 0;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      overflow: hidden;
    }
    & > p {
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      display: -webkit-box;
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin-top: 4px;
      overflow: hidden;
    }
  }
}
