.CourseLearn{
    width: 100%;
}
.CourseLearn_Head{
    width: 100%;
    height: 5.5rem;
    background-color: #29303B;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    &_Navbar{
        display: flex;
        &_icons{
            width: 5.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            color:white;
            &:hover{
                background-color: rgba(0,0,0,0.5);
            }
        }
        &_image{
            &_container{
                height: 100%;
                display: flex;
                align-items: center;
                margin:0 1rem;
                margin-right: 2rem;
            }
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 0.5rem;
        }
        &_title{
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            color:white;
            font-weight: 700;
        }
    }
    &_circle{
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color:white;
        font-weight: 600;
    }
}
.circle{
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 0.8rem;
    position: relative;
    border-radius: 50%;
    border:0.1rem solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.CourseLearn_body{
    display: flex;
    height: calc(100vh - 50rem);
    &_detail{
        position: fixed;
        width: 75%;
        border-right: 0.01rem solid rgba(0,0,0,0.1);
        & > div{
            width: 100%;
            height: calc(100vh - 5rem);
            overflow: scroll;
            overflow-x: hidden;
        }
        &_video{
            height: 55rem;
        }
    }
    &_content{
        width: 25%;
        position: fixed;
        & > div{
            width: 100%;
            height: calc(100vh - 6rem);
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
.CourseLearn_body_detail > div::-webkit-scrollbar {
    display: none;
}
.CourseLearn_body_detail_container{
    width: 75%;
}
.CourseLearn_body_title{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    padding:0 1rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.CourseLearnCard{
    width: 100%;
    height: 5.5rem;
    background-color: rgba(0,0,0,0.05);
    border-bottom: 0.1rem solid rgba(0,0,0,0.05);
    padding:0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    &_head{
        text-align: center;
        & > h3{
            font-size: 1.7rem;
            margin-bottom: 0.3rem;
        }
        & > span{
            font-size: 1.2rem;
        }
    }
    &_body{
        font-size: 1.9rem;
    }
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}
.CourseLearnCardDetail{
    width: 100%;
    min-height: 6rem;
    padding:0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &_body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #5DB85C;
        color:white;
        border-radius: 50%;
        font-size: 0.8rem;
    }
    &_head{
        font-size: 1.6rem;
        & > div:first-child{
            color:black;
        }
        & > div:last-child{
            font-size: 1.2rem;
            margin-top: 0.2rem;
        }
    }
    &.active{
        background-color: #FCDCD3;
        color:#F05123;
    }
}
.CourseLearn_body_content_wrap{
    width: 25%;
}
.CourseLearn_body_detail_content{
    margin-top: 2rem;
    font-family: 'Vollkorn', serif;
    &_title{
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
    }
    &_teacher{
        text-align: center;
        margin-top: 0.5rem;
        font-size: 1.7rem;
    }
    &_clearly{
        margin-top: 2rem;
        padding:0 2rem;
        font-family: 'Crimson Text', serif;
        font-size: 1.7rem;
        margin-bottom: 3rem;
    }
}