@import "../style.module.scss";

.detail {
    min-height: 100vh;
    @include mobile {
        padding: 0 1rem;
    }
    @include middleSmall {
        padding: 0 1rem;
    }
    &_wrap {
        margin-top: 4rem;
    }
    &_img {
        height: 45rem;
        width: 100%;
        @include mobile {
            height: 28rem;
        }
        @include tablet {
            height: 52rem;
        }
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem;
        }
    }
    &_imgs {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        &-small {
            width: 5rem;
            height: 5rem;
            cursor: pointer;
            margin-left: 0.6rem;
            margin-bottom: 0.6rem;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }
    }
    &_infor {
        width: 100%;
        &_link {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            @include mobile {
                margin-top: 2rem;
            }
            @include middleSmall {
                margin-top: 2rem;
            }
            &_items {
                text-decoration: none;
                color: #56ccf2;
            }
        }
        &_title {
            font-size: 2.8rem;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.7);
            font-family: Old Standard TT, serif;
            @include mobile {
                font-size: 2.5rem;
            }
            @include tablet {
                font-size: 2rem;
            }
        }
        &_likes {
            width: 100%;
            margin-top: 2rem;
            display: flex;
            align-items: center;
            &_like {
                cursor: pointer;
                width: 12rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 0, 0, 0.7);
                font-size: 1.5rem;
                color: white;
                border-radius: 02rem;
                @include tablet {
                    width: 10rem;
                    height: 3.8rem;
                    font-size: 1.4rem;
                }
            }
            &_star {
                margin-left: 1rem;
                font-size: 1.9rem;
                width: auto;
                color: #ffc107;
                position: relative;
                @include mobile {
                    font-size: 1.7rem;
                }
                @include tablet {
                    font-size: 1.3rem;
                }
                &-color {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            &_number {
                margin-left: 1.5rem;
                font-size: 1.7rem;
                color: #ffc107;
                font-weight: 600;
                @include mobile {
                    font-size: 1.5rem;
                }
                @include tablet {
                    font-size: 1.3rem;
                }
            }
        }
        &_information {
            margin-top: 1.5rem;
            font-size: 1.8rem;
            font-family: "Chivo Mono", monospace;
            word-spacing: 0.4rem;
        }
        &_price {
            margin-top: 1rem;
            font-size: 2.5rem;
        }
        &_price_2 {
            margin-top: 1rem;
            font-size: 2.5rem;
            display: flex;
            align-items: flex-end;
            &_1 {
                font-size: 2.1rem;
                margin-right: 1rem;
                color: red;
            }
            &_2 {
                text-decoration: line-through;
                color: rgba(0, 0, 0, 0.6);
            }
        }
        &_serves {
            margin-top: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            &_items {
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 0.1rem solid rgba(0, 0, 0, 0.7);
                font-size: 1.5rem;
                margin-right: 1rem;
                cursor: pointer;
                &.active {
                    color: white;
                    background-color: #850a44;
                    border: none;
                }
            }
        }
        &_button {
            margin-top: 2.5rem;
            text-align: center;
            @include desktopHigh {
                text-align: start;
            }
            & > button {
                width: 30rem;
                height: 5.5rem;
                cursor: pointer;
                background-color: #850a44;
                color: white;
                border: none;
                border-radius: 1rem;
                font-size: 1.6rem;
            }
        }
    }
}
.detail_body {
    margin-top: 10rem;
    width: 100%;
    &_navbar {
        width: 100%;
        border-bottom: 0.05rem solid rgba(0, 0, 0, 0.2);
        position: relative;
        &_items {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ebebeb;
            border: 0.01rem solid rgba(0, 0, 0, 0.2);
            width: 25rem;
            display: flex;
            height: 6rem;
            &_item {
                flex: 1;
                align-items: center;
                justify-content: center;
                display: flex;
                height: 100%;
                cursor: pointer;
                font-size: 1.7rem;
                font-family: "Noto Sans", sans-serif;
                &.active {
                    text-decoration: underline;
                    text-decoration-color: #850a44;
                    font-weight: 600;
                    text-underline-offset: 0.6rem;
                }
            }
            &_item:first-child {
                border-right: 0.05rem solid rgba(0, 0, 0, 0.2);
            }
        }
    }
    &_infor {
        margin-top: 8rem;
        font-size: 1.8rem;
        &_content_1 {
            width: 100%;
            min-height: 10rem;
            border: 1rem solid rgba(0, 0, 0, 0.2);
            padding: 1rem;
        }
        &_content {
            &_title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include desktopHigh {
                    padding: 0 20rem;
                }
                & > div:first-child {
                    display: flex;
                    align-items: center;
                }
                & > div:first-child > div:first-child {
                    display: flex;
                    align-items: center;
                    font-size: 1.8rem;
                    font-family: Playfair Display, serif;
                    color: #ff8a08;
                }
                & > div:first-child > div:nth-child(2) {
                    margin-left: 2rem;
                    color: #ffc107;
                    font-size: 2rem;
                }
                & > div:last-child > button {
                    padding: 0 3rem;
                    height: 3.5rem;
                    cursor: pointer;
                    background-color: rgb(86, 204, 242);
                    color: white;
                    border: none;
                    border-radius: 0.5rem;
                    font-size: 1.5rem;
                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
            &_input {
                width: 100%;
                min-height: 10rem;
                margin-top: 2rem;
                border: 1rem solid rgba(0, 0, 0, 0.2);
                padding: 0.7rem;
                outline: none;
                &_wrap {
                    position: relative;
                    @include desktopHigh {
                        padding: 0 18rem;
                    }
                }
                &_abs {
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    @include desktopHigh {
                        top: 1.5rem;
                        left: 19.5rem;
                    }
                    z-index: 10;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            &_rating {
                margin-top: 4rem;
                width: 100%;
            }
        }
    }
    &_comment {
        margin-top: 5rem;
    }
}
.ratingCard {
    width: 100%;
    display: flex;
    margin-bottom: 2.5rem;
    &_img {
        width: 5.5rem;
        height: 5.5rem;
        margin-top: 0.2rem;
        border-radius: 50%;
        overflow: hidden;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
    &_infor {
        flex: 1;
        min-height: 10rem;
        background-color: rgba(0, 0, 0, 0.1);
        margin-left: 1rem;
        border-radius: 1rem;

        &_name {
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
            padding: 1rem;
            font-family: "Noto Sans", sans-serif;
            font-weight: 800;
            display: flex;
            font-size: 1.7rem;
        }
        &_rate {
            display: flex;
            margin-left: 1.5rem;
            font-size: 1.8rem;
            color: #ff8a08;
            &_star {
                position: relative;
                &-color {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        &_content {
            padding: 1rem;
            font-size: 1.7rem;
            line-height: 2.7rem;
        }
    }
}
.detail_body_infor_content_input_abs {
    font-size: 1.8rem;
}
.detail_body_infor_content_input {
    font-size: 1.8rem;
}
