.setUp {
	width: calc(100% - 11rem);
	min-height: 100vh;
	margin-left: 11rem;
	margin-top: 13rem;
	display: flex;
	&_navbar {
		width: 23%;
		&_items {
			width: 100%;
			height: 5rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			cursor: pointer;
			margin-bottom: 0.5rem;
			padding: 1rem;
			border-radius: 0.5rem;
			font-size: 1.7rem;
			&:hover {
				background-color: rgba(0, 0, 0, 0.05);
			}
			&.active {
				background-color: rgba(0, 0, 0, 0.05);
			}
		}
		margin-right: 10rem;
	}
	&_wrap {
		width: 50%;
	}
	&_title {
		border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
		padding-bottom: 0.7rem;
		font-size: 1.6rem;
		color: rgba(0, 0, 0, 0.5);
	}
}
.setUp_name {
	display: flex;
	margin: 4rem 0 2rem 0;
	justify-content: space-between;
	align-items: center;
	&_navbar {
		width: 100%;
		&-title {
			margin-bottom: 0.5rem;
			font-size: 1.4rem;
			font-weight: 500;
		}
	}
	&_input {
		width: 100%;
		border: none;
		border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
		height: 4rem;
		outline: none;
		font-size: 1.5rem;
		font-weight: 400;
		padding-left: 0.5rem;
	}
}
.setUp_button {
	& > button {
		padding: 1rem 1.5rem;
		font-size: 1.4rem;
		border-radius: 10rem;
		border: 0.1rem solid rgba(0, 0, 0, 0.2);
		cursor: pointer;
		background-color: transparent;
		&:first-child:hover {
			color: #ff751f;
		}
	}
}
.setUp_avatar {
	position: relative;
	margin-top: 2rem;
	& > img {
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
	}
}
.setUp_name_recommend {
	font-size: 1.5rem;
}
.setUp_avatar_upload {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.6rem;
	color: rgba(255, 255, 255, 0.7);
}
.setUp_payment {
	width: 50%;
}
.setUp_payment_table {
	margin-top: 4rem;
}
.setUp_payment_head {
	display: flex;
	&_1 {
		width: 20%;
	}
	&_2 {
		width: 20%;
	}
	&_3 {
		width: 20%;
	}
	&_4 {
		flex: 1;
	}
	font-size: 1.8rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
	padding-bottom: 1.5rem;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
}
.setUp_payment_body {
	display: flex;
	&_1 {
		width: 20%;
	}
	&_2 {
		width: 20%;
	}
	&_3 {
		width: 20%;
		color: #27ae60;
	}
	&_4 {
		flex: 1;
		line-height: 2.6rem;
	}
	font-size: 1.5rem;
	padding: 1.5rem 0;
	align-items: center;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
	font-family: "Merriweather", serif;
}
.setUp_button_container {
	display: flex;
	margin-top: 5rem;
	justify-content: center;
}
