@import '../style.module.scss';
.searching{
    width: calc(100% - 9rem);
    margin-left: 9rem;
    @include mobile{
        width: 100%;
        margin-left: 0;
    }
    min-height: 100vh;
    padding-left:4rem;
    padding-right: 2rem;
}
.searching_head{
    width: 100%;
    min-height: 20rem;
    background-color: #71FFF8;
    border-radius: 1rem;
}
.searching_title{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 900;
}
.searching_card{
    margin-top: 4rem;
    padding:0 1rem;
}
.searching_paginating{
    margin:4rem 0;
}