@import "../style.module.scss";
.blog_card {
  width: calc((100% / 3) - 24px);
  @include middleSmall {
    width: calc(100% - 24px);
  }
  @include mobile {
    width: calc(100% - 24px);
  }
  border-radius: 2rem;
  flex-shrink: 0;
  margin-left: 24px;
  border: 1px solid #21fbc7;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  &_header {
    width: 100%;
    height: 260px;
    cursor: pointer;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      flex-shrink: 0;
    }
  }
  &_body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 10px;
    &_top {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      & > div {
        display: flex;
        align-items: center;
        & > span {
          font-size: 1.4rem;
        }
        & > div > i {
          font-size: 2.2rem;
          margin-left: 10px;
          cursor: pointer;
          color: #ff0f68;
          &:hover {
            animation: Spacing 0.8s ease-in-out infinite;
          }
        }
      }
      & > div > img {
        border-radius: 50%;
        height: 50px;
        object-fit: cover;
        width: 50px;
      }
      & > div > h2 {
        margin-left: 10px;
        color: #292929;
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
    &_content {
      display: flex;
      flex-direction: column;
      padding: 10px 6px;
      flex: 1;
      &_header {
        margin-bottom: 10px;
        & > h3 {
          font-size: 1.6rem;
        }
      }
      &_mid {
        margin-top: auto;
        flex: 1;
        display: flex;
      }
      &_mid > p {
        font-size: 1.2rem;
        word-break: break-all;
        margin-top: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}

@keyframes Spacing {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.2);
  }
}
