.user_blog {
  margin-left: 8rem;
  margin-top: 8rem;
  padding-left: 5rem;
  width: 100%;
  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #00a2ff;
    border-radius: 20px;
    & > h1 {
      font-size: 6rem;
      color: #fff;
      font-weight: 700;
    }
    & > p {
      margin-top: 10px;
      font-size: 14px;
    }
  }
  &_body {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
  }
}

.user_card {
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  margin-right: 3rem;
  width: 30%;
  margin-bottom: 3rem;
  border: 1px solid #ccc;
  &_header {
    height: 200px;
    flex-shrink: 0;
    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-right-radius: 1.2rem;
      border-top-left-radius: 1.2rem;
    }
  }
  &_body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &_top > h3 {
      font-size: 1.6rem;
    }
    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &_option {
        display: flex;
        align-items: center;
        & > span {
          font-size: 1.2rem;
        }
        & > i {
          font-size: 2rem;
          border-radius: 50%;
          padding: 8px;
          cursor: pointer;
          transition: 0.3s ease-in;
          margin-left: 10px;
        }
      }
    }
    &_content {
      font-size: 1.2rem;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
.option_card_blog {
  position: absolute;
  width: 100px;
  top: -11px;
  right: -28%;
  background-color: #f9eaea;
  border-radius: 1.2rem;
  z-index: 1000;
  animation: SlideIn 0.3s ease-in;
  transition: 0.3s ease-in;
  & > h3 {
    display: block;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    &:hover {
      background-color: #ccc;
      border-radius: 1.2rem;
    }
  }
}
@keyframes SlideIn {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}
