@import '../style.module.scss';
.dashboard{
    margin-top: -2rem;
    background-color: #F3F6F9;
}
.dashboard_navbar{
    position: fixed;
    left:0;
    width: 27rem;
    top: 0;
    bottom:0;
    min-height: 10rem;
    background-color: #F3F6F9;
}
.dashboard_title{
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    padding-left: 2rem;
    margin-bottom: 3rem;
    font-size: 2.9rem;
    color:#009CFF;
    font-weight: 700;
}
.dashboard_account{
    width: 100%;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    &_img{
        & > img{
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
        }
        position: relative;
        &::after{
            content:"";
            position: absolute;
            bottom:0.3rem;
            right:0.3rem;
            width: 1rem;
            height: 1rem;
            background-color: #198754;
            border-radius: 50%;
            box-shadow: 0 0 0.2rem 0.2rem white;
        }
    }
    &_infor{
        margin-left: 1rem;
        overflow: hidden;
        & > h6{
            font-size: 1.9rem;
            color:rgba(0,0,0,0.7);
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        & > span{
            font-size: 1.5rem;
            color:rgba(0,0,0,0.4);
        }
    }
}
.dashboard_detail{
    min-height: 100vh;
    width: calc(100% - 45rem);
    background-color: white;
    margin-left: 27rem;
}
.dashboard_navbar_items{
    width: 90%;
    height: 6rem;
    margin-bottom: 0.4rem;
    border-radius: 0 3rem 3rem 0;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all ease 0.4s;
    &.active{
        color:#009CFF;
        background-color: white;
        &::after{
            position: absolute;
            content:"";
            left:0;
            top:0;
            bottom:0;
            width: 0.2rem;
            background-color: #009CFF;
        } 
    }
    &:hover{
        color:#009CFF;
        background-color: white;
        &::after{
            position: absolute;
            content:"";
            left:0;
            top:0;
            bottom:0;
            width: 0.2rem;
            background-color: #009CFF;
        }
    }
}
.icons_admin{
    font-size: 1.8rem;
}
.dashboard_icons_container{
    padding:1.1rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    &.active{
        background-color: #F3F6F9;
    }
}
.dashboard_navbar_items:hover .dashboard_icons_container{
    background-color: #F3F6F9;
}
.dashboard_head{
    position: fixed;
    padding:0 2rem;
    padding-right: 20rem;
    z-index: 10;
    top:0;
    right:0rem;
    left:32rem;
    height: 7rem;
    background-color: #F3F6F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard_head_account{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.dashboard_head_img{
    & > img{
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
    }
}
.dashboard_head_name{
    display: flex;
    align-items: center;
    font-size: 1rem;
    position: relative;
    margin-left: 1rem;
    & > span{
        font-size: 1.7rem;
        margin-right: 0.6rem;
        margin-bottom: 0.3rem;
    }
    &:hover{
        color:#009CFF;
    }
}
.dashboard_input{
    height: 100%;
    display: flex;
    align-items: center;
    & > input{
        width: 20rem;
        height: 50%;
        border-radius: 0.3rem;
        background-color: white;
        border:none;
        padding:0 1rem;
        font-size: 1.5rem;
        transition: all ease 0.2s;
        color:rgba(0,0,0,0.8);
        &:focus{
            outline-color: #0dcaf0;
            outline-width: 0.4rem;
            outline-style: solid;
        }
    }
}
.dashboard_head_scrolldown{
    position: absolute;
    top:150%;
    right:-1rem;
    width: 16rem;
    min-height: 10rem;
    background-color: #F3F6F9;
    box-shadow: 0 0 0.3rem 0.2rem rgba(0,0,0,0.3);
    border-radius: 0.5rem;
    padding:1rem 0;
}
.dashboard_scrolldown_items{
    text-decoration: none;
    &_detail{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        padding:0 1rem;
        color:rgba(0,0,0,0.8);
        font-size: 1.5rem;
        font-weight: 600;
        &:hover{
            background-color: rgba(0,0,0,0.1);

        }
    }
}
.dashboard_detail{
    padding-top: 9rem;
}
.dashboard_main{
    padding:2rem;
}
.dashboard_statistic_items{
    width: 100%;
    height: 10rem;
    background-color: #F3F6F9;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding:2rem 3rem;
    border-radius: 0.5rem;
}
.dashboard_statistic_items_img{
    font-size: 4.5rem;
    color:#009CFF;
}
.dashboard_statistic_items_infor{
    & > p{
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
        color:rgba(0,0,0,0.7);
        font-weight: 600;
    }
    & > h6{
        font-size: 1.5rem;
    }
}
.dashboard_chart{
    margin-top: 3rem;
}
.managerCourse{
    padding:2rem;
}
.managerCourse_navbar{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    & > button{
        margin-left: 1rem;
        padding:0 2rem;
        height: 4rem;
        cursor: pointer;
        border-radius: 3rem;
        color:white;
        background-color: #9AD0F5;
        border:0.1rem solid #FF8A08;
        font-size: 1.7rem;
        @include mobile{
            height: 5rem;
        }
        &:hover{
            transform: scale(.9);
        }
    }
}
.manageCourse_table{
    margin-top: 3rem;
}
.table{
    width: 100%;
}
.thead_wrap{
    height: 5rem;
    font-size: 1.4rem;
    & > th{
        border-right: 0.1rem solid rgba(0,0,0,0.3);
    }
    & > th:last-child{
        border-right: none;
    }
}

.table{
    border:0.1rem solid rgba(0,0,0,0.3);
    border-collapse: collapse;
}
.thead_wrap,
.thead_wrap_items{
    border-bottom: 0.1rem solid rgba(0,0,0,0.3);
}
.thead_title{
    width: 45%;
}
.thead_price{
    width: 10%;
}
.thead_courseExpert{
    width: 25%;
}
.thead_bars{
    width: 5%;
}
.thead_checkbox{
    width: 5%;
}
.thead_status{
    width: 10%;
}
.thead_wrap_items{
    height: 11rem;
    font-size: 1.5rem;
    & > th{
        font-weight: 500;
        border-right: 0.1rem solid rgba(0,0,0,0.3);
    }
    & > th:last-child{
        border-right: none;
    }
}
.thead_status.active_status{
    color:green;
}
.thead_status.noactive_status{
    color:red;
}
.thead_bars_icons{
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;
    border:0.1rem solid rgba(0,0,0,0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    position: relative;
}
.courseExpert_infor{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.courseExpert_infor_img{
    & > img{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}
.courseExpert_infor_name{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.5rem;
    
    & > span{
        font-size: 1.2rem;
        color:rgba(0,0,0,0.5);
        margin-top: 0.3rem;
    }
}
.courseExpert_name{
    font-size: 1.7rem;
    color:rgba(0,0,0,0.7);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thead_checkbox{
    & > input{
        margin-left: 0.2rem;
        width: 2rem;
        height: 2rem;
    }
}
.bars_detail{
    position: absolute;
    top:-170%;
    left:3rem;
    width: 10rem;
    background-color: white;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0,0,0,0.3);
    border-radius: 0.5rem;
}
.bars_detail_items{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 480;
    transition: all ease 0.2s;
    animation:opacitory ease 0.4s;
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}
@keyframes opacitory{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
.thead_card_container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding:0 3rem;
}
.thead_img{
    margin-right: 1rem;
    & > img{
        width: 12rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 0.2rem;
    }
}
.thead_card_name{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.thead_card_name-link{
    color:rgba(0,0,0,0.8);
    font-size: 1.7rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}
.thead_card_price{
    font-size: 1.5rem;
    color:rgba(0,0,0,0.5);
    font-weight: 700;
}
.thead_card_oldPrice{
    text-decoration: line-through;
    font-size: 1.3rem;
}
.thead_card_newPrice{
    font-size: 1.6rem;
    margin-left: 0.5rem;
    color:rgba(255,0,0,0.6);
}
.expertCourse{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
}
.expertCourse_container{
    width: 40%;
    min-height: 10rem;
    background-color: white;
    z-index: 40;
    box-shadow: 0 0 0.5rem 0.2rem #9AD0F5;
    border-radius: 2rem;
    padding:2rem;
}
.expertCourse_close{
    display: flex;
    justify-content: end;
}
.expertCourse_close_icons{
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50%;
    padding-bottom: 0.5rem;
    cursor: pointer;
    margin-bottom: 3rem;
}
.ex_table{
    width: 100%;
    border:0.1rem solid rgba(0,0,0,0.3);
    border-collapse: collapse;
}
.ex_thead{
    width: 100%;
    height: 4rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.3);
}
.ex_thead_title{
    width: 80%;
    border-right: 0.1rem solid rgba(0,0,0,0.3);
    font-size: 1.6rem;
}
.ex_thead_wrap_items{
    border-bottom: 0.1rem solid rgba(0,0,0,0.3);
    height: 10rem;
}
.ex_thead_button{
    & > button{
        padding:0 1rem;
        height: 3.5rem;
        border:none;
        background-color: #009CFF;
        color:white;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 1.3rem;
        &:hover{
            transform: scale(.9);
        }
    }
}
.expertCourse_form{
    width: 100%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.expertCourse_searching{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    & > input{
        width: 60%;
        height: 4rem;
        margin-right: 1rem;
        padding:0 1.5rem;
        font-size: 1.6rem;
        outline: none;
        border:0.1rem solid #0dcaf0;
        border-radius: 2rem;
    }
}
.button{
    padding:0 2rem;
    border: none;
    background-color: #009CFF;
    color:white;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.3rem;
    &:hover{
        transform: scale(.9);
    }
}
.ex_thead_user{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
}
.ex_thead_user_img{
    margin-right: 1rem;
    & > img{
        width: 6rem;
        height: 6rem;
        border-radius: 0.3rem;
    }
}
.ex_thead_button{
    width: 20%;
}
.ex_thead_user_infor{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.ex_thead_user_infor_name{
    font-size: 1.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ex_thead_user_infor_email{
    font-size: 1.5rem;
    color:rgba(0,0,0,0.5);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.ex_thead_user_infor_id{
    color:rgba(0,0,0,0.4);
    font-size: 1.3rem;
}
.pagination{
    margin-top: 2rem;
}
.s_table{
    width: 100%;
    border:0.1rem solid rgba(0,0,0,0.3);
    border-collapse: collapse;
}
.s_thead{
    height: 5rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.3);
    font-size: 1.6rem;
}
.s_tcourse,
.s_dcourse{
    width: 30%;
    border-right: 0.1rem solid rgba(0,0,0,0.3);
}
.s_tto,
.s_dto{
    border-right: 0.1rem solid rgba(0,0,0,0.3);
    width: 20%;
}
.s_tsale,
.s_dsale{
    border-right: 0.1rem solid rgba(0,0,0,0.3);
    width: 10%;
}
.s_tbars,
.s_dbars{
    width: 5%;
}
.s_tfromdate,
.s_dfromdate{
    border-right: 0.1rem solid rgba(0,0,0,0.3);
    width: 15%;
}
.s_ttodate,
.s_dtodate{
    border-right: 0.1rem solid rgba(0,0,0,0.3);
    width: 15%;
}
.s_drow{
    height: 10rem;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.3);
}
.s_dto_div{
    color:#009CFF;
    text-decoration: underline;
    cursor: pointer;
}   
.vocher_to{
    width: 50%;
    min-height: 10rem;
    background-color: white;
    z-index: 40;
    box-shadow: 0 0 0.5rem 0.2rem #9AD0F5;
    border-radius: 2rem;
    padding:2rem;
}
.vocher_to_for{
    display: flex;
    justify-content: space-between;
}
.vocher_to_user,
.vocher_to_course{
    width: 49%;
}
.vocher_to_for_title{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
}
.vocher_to_form{
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    border:0.1rem solid rgba(0,0,0,0.1);
}
.vocher_to_user_card{
    display: flex;
    justify-content: center;
    height: 9rem;
    align-items: center;
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
    overflow: hidden;
    padding:0 2rem;
    width: 100%;
    overflow: hidden;
}
.vocher_to_user_img{
    width: 19%;
    & > img{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
    }
    margin-right: 1rem;
}
.vocher_to_user_infor{
    max-width: calc(100% - 16%);
    display: flex;
    flex-direction: column;
}
.vocher_to_user_infor_name{
    font-size: 1.5rem;
    font-weight: 600;
}
.vocher_to_user_infor_email{
    width: 100%;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.vocher_to_user_infor_id{
    font-size: 1.2rem;
    margin-top: 0.1rem;
}
.vocher_to_card{
    display: flex;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
    padding:0 1rem;
}
.vc_bars_detail{
    position: absolute;
    top:-30%;
    left:3rem;
    width: 10rem;
    background-color: white;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0,0,0,0.3);
    border-radius: 0.5rem;
}
.vc_bars_detail_items{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 480;
    transition: all ease 0.2s;
    animation:opacitory ease 0.4s;
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}
.createButton{
    margin:3rem 0;
    display: flex;
    justify-content: center;
    & > button{
        padding:0 3rem;
        height: 5rem;
        background-color: #0dcaf0;
        color:white;
        border:none;
        border-radius: 3rem;
        cursor: pointer;
        font-size: 1.7rem;
        &:hover{
            transform: scale(.95);
        }
    }
}
.course_detail_learn{
    display: flex;
    align-items: center;
}
.create_course_input{
    margin-left: 1rem;
    flex:1;
    & > input{
        width: 80%;
        height: 3.5rem;
        padding:0 0.5rem;
        border-radius: 0.5rem;
    }
    & > button{
        margin-left: 0.5rem;
        padding:0 2rem;
        height: 3.5rem;
        cursor: pointer;
        background-color: #0dcaf0;
        color:white;
        border:none;
        border-radius: 0.5rem;
    }
}
.choose_expert{
    color:#009CFF;
    text-decoration: underline;
    margin-left: 0.3rem;
    cursor: pointer;
}
.course_create_detail_img{
    width: 100%;
    height: 20rem;
    border:0.1rem solid rgba(0,0,0,0.3);
    border-radius: 1rem;
}
.movie_drop_zone{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
}
.movie_drop_zone_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    cursor: pointer;
    position: relative;
}
.image_create_container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.image_create_container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.CoursePanel_create_container{
    width: 100%;
    height: 5rem;
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    display: flex;
    justify-content:center;
    padding:0 3rem;
    align-items: center;
    box-shadow: 0 0 0.1rem 0.05rem rgba(0,0,0,0.1);
    cursor: pointer;
    margin:1rem 0;
}
.plus{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0.1rem solid rgba(0,0,0,0.3);
    border-radius: 50%;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    &:hover{
        transform: scale(.85);
    }
}
.CoursePanel_create_input{
    width: 100%;
    height: 5rem;
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    display: flex;
    justify-content:center;
    padding:0 3rem;
    align-items: center;
    box-shadow: 0 0 0.1rem 0.05rem rgba(0,0,0,0.1);
    cursor: pointer;
    margin:1rem 0;
    & > input{
        width: 90%;
        height: 90%;
        border-radius: 1rem;
        padding:0 1rem;
        background-color: transparent;
        border:0.1rem solid rgba(0,0,0,0.1);
        outline: none;
        font-size: 1.5rem;
        font-weight: 700;
    }
    & > button{
        padding:0 2rem;
        height: 70%;
        background-color: #0dcaf0;
        color:white;
        border:none;
        margin-left: 0.5rem;
        border-radius: 1rem;
        cursor: pointer;
        &:hover{
            transform: scale(.9);
        }
    }
    animation:appearingForm ease 0.3s;
}
.panelCard_create_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus_panel{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0.1rem solid rgba(0,0,0,0.3);
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    &:hover{
        transform: scale(.85);
    }
}
.CoursePanel_lesson_create_input{
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content:center;
    padding:0 3rem;
    align-items: center;
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
    cursor: pointer;
    margin:1rem 0;
    & > input{
        width: 90%;
        height: 90%;
        border-radius: 1rem;
        padding:0 1rem;
        background-color: transparent;
        border:0.1rem solid rgba(0,0,0,0.1);
        outline: none;
        font-size: 1.5rem;
        font-weight: 700;
    }
    & > button{
        padding:0 2rem;
        height: 70%;
        background-color: #0dcaf0;
        color:white;
        border:none;
        margin-left: 0.5rem;
        border-radius: 1rem;
        cursor: pointer;
        &:hover{
            transform: scale(.9);
        }
    }
    animation:appearingForm ease 0.3s;
}
@keyframes appearingForm{
    0%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(0rem);
    }
}
.lessonCreate{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lessonCreate_wrap{
    width: 80%;
    height: 95vh;
    background-color: white;
    box-shadow: 0 0 0.4rem 0.1rem #0dcaf0;
    border-radius: 2rem;
    padding:2rem;
}
.lessonCreate_title{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: -2rem;
}
.lessonCreate_type{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}
.lessonCreate_type_form{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    & > input{
        width: 2rem;
        height: 2rem;
    }
    & > label{
        font-size: 1.4rem;
        margin-left: 0.3rem;
        cursor: pointer;
    }
}
.lessonCreate_form{
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    border:0.1rem solid rgba(0,0,0,0.3);
    margin-top: 2rem;
    padding:1rem;
    border-radius: 0.5rem;
}
.uploadfile{
    position: fixed;
    top:12rem;
    right:20%;
    width: 13rem;
    height: 4.5rem;
    background-color: #F05123;
    z-index: 40;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 3rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
    cursor: pointer;
    &:hover{
        transform: scale(.9);
    }
}
.uploadFile_wrap,
.lessonCreate_input_form{
    position: fixed;
    z-index: 50;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.uploadFile_container{
    width: 35%;
    min-height: 10rem;
    background-color: white;
    box-shadow: 0 0 0.2rem 0.2rem #0dcaf0;
    border-radius: 2rem;
    padding:2rem;
}
.uploadFile_input{
    display: flex;
    justify-content: center;
}
.uploadFile_input_form{
    margin-top: 5rem;
    & > textarea{
        width: 100%;
        min-height: 7rem;
        padding:0.5rem;
        outline: none;
    }
}

.listening_link{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    & > input{
        width: 50%;
        height: 4rem;
        padding:0 1rem;
        font-size: 1.4rem;
        outline: none;
        border-radius: 0.4rem;
        margin-right: 0.5rem;
    }
}
.youtube_check{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.youtube_link{
    width: 45rem;
    height: 25rem;
    border: 0.1rem solid rgba(0,0,0,0.3);
}
.lesson_content_title{
    margin:1rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.lesson_create_button{
    position: fixed;
    top:12rem;
    right:30%;
}
.button_create{
    padding:0 3.5rem;
    height: 4.5rem;
    border-radius: 3rem;
    background-color: #F05123;
    color:white;
    border:none;
    cursor: pointer;
    font-size: 1.8rem;
    &:hover{
        transform: scale(.9);
    }
}
.content_edit,
.lesson_content{
    position: relative;
}
.benefit_button{
    display: flex;
    margin-top: 0.2rem;
}

.edit_button,
.delete_button{
    padding:0 1rem;
    height: 2.3rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.type_select{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
    padding-left: 1.3rem;
}
.save_button:hover{
    transform: scale(.9);
}
.lessonCreate_input_form{
    z-index: 70;
}
.lessonCreate_input_form_wrap{
    width: 50%;
    min-height: 10rem;
    background-color: white;
    box-shadow: 0 0 0.2rem 0.4rem #0dcaf0;
    border-radius: 1rem;
    padding:1rem;
}
.lessonCreate_textarea{
    width: 100%;
    & > textarea{
        width: 100%;
        min-height: 10rem;
        padding:1rem;
        outline: none;
        border-radius: 0.3rem;
        font-size: 1.6rem;
        resize: vertical;
    }
}
.lessonCreate_button_form{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.cancel_button{
    background-color: rgba(0,0,0,0.3);
}
.createQuesion{
    position: fixed;
    top:12rem;
    left:28%;
    width: 18rem;
    height: 4.5rem;
    background-color: #0dcaf0;
    z-index: 40;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 3rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
    cursor: pointer;
    &:hover{
        transform: scale(.9);
    }
}
.question{
    margin-bottom: 2rem;
}
.question_title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.button_delete{
    background-color: red;
}
.button_update{
    background-color: #FF8A08;
}
.answer_item{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    & > input{
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
    margin:1rem 0;
}
.button_container{
    margin-top: -1rem;
}