.sale_voucher_head_fillters {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}
.option_select_sale {
  width: 25%;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.manage_voucher {
  padding: 2rem;
}
.v {
  &_stt {
    width: 5%;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  }
  &_voucher {
    width: 15%;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  }
  &_value {
    width: 15%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
  }
  &_type {
    width: 20%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
    & > div {
      padding: 40px;
      & > img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 1.2rem;
        cursor: pointer;
      }
    }
  }
  &_time {
    width: 10%;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  }
  &_option {
    width: 5%;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    position: relative;
    & > i {
      padding: 1rem;
      border-radius: 50%;
      cursor: pointer;
      background-color: #ccc;
    }
    &_select {
      position: absolute;
      top: 30%;
      right: -58%;
      width: 100px;
      border-radius: 1rem;
      background-color: #ccc;
      & > div {
        font-size: 1.4rem;
        padding: 1rem;
        cursor: pointer;
        &:hover {
          background-color: #ada0a0;
          border-radius: 1rem;
        }
      }
    }
  }
}
.fn {
  font-size: 1.4rem;
}
.sale_voucher_head {
  display: flex;
  flex-direction: column;
  &_create {
    text-align: center;
    margin-top: 2rem;
    & > button {
      padding: 1.8rem 2rem;
    }
  }
}
.create_voucher {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.voucher_left {
  width: 60%;
  &_header {
    display: flex;
    flex-direction: column;
    position: relative;

    &_title {
      height: 4rem;
      display: flex;
      & > input {
        border: none;
        outline: none;
        font-size: 3.5rem;
        font-weight: 800;
      }
    }
    &_des {
      margin-top: 2rem;
      display: flex;
      & > input {
        font-size: 1.8rem;
        padding: 1rem 0;
        outline: none;
        flex: 1;
        border: none;
      }
    }
  }
  &_body {
    margin-top: 2rem;
    &_value {
      display: flex;
      align-items: center;
      & > input {
        flex: 1;
        outline: none;
        border: 0.1rem solid #ccc;
        padding: 1rem;
        margin-left: 1rem;
        border-radius: 1.2rem;
      }
      & > label {
        font-size: 1.8rem;
      }
    }
    &_type > div:first-child {
      display: flex;
      margin-top: 2rem;
      align-items: center;
      & > label {
        width: 18%;
        font-size: 1.8rem;
        margin-right: 1rem;
      }
    }
  }
  &_bottom {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > label {
      width: 18%;
      font-size: 1.8rem;
    }
    & > input {
      padding: 1rem;
      outline: none;
      border: 0.1rem solid #ccc;
      border-radius: 1rem;
    }
  }
}
.select_option {
  flex: 1;
}
.course_voucher {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  flex-wrap: wrap;
  & > label {
    font-size: 1.8rem;
    margin-right: 2rem;
  }
  &_img {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 8rem;
    margin: 2rem 0;
    & > div > button {
      margin-left: 2rem;
      padding: 1rem 2rem;
      background-color: #ff7c53;
    }
    & > label {
      font-size: 1.2rem;
      margin-right: 2rem;
    }
    & > img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  &_choose > button {
    padding: 1rem 2rem;
  }
}
.course_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000000;
  display: grid;
  place-items: center;
  &_warper {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #fff;
    border-radius: 1rem;
    height: 500px;
  }
}
.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  & > h3 {
    font-size: 2rem;
  }
  & > i {
    font-size: 2rem;
    cursor: pointer;
    padding: 0 1rem;
  }
}
.modal_body {
  padding: 1rem;
  overflow-y: scroll;
}
.voucher_card {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  }
  &_img {
    width: 30%;
    flex-shrink: 0;
    & > img {
      width: 100%;
      height: 80px;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  &_body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    &_top > h3 {
      font-size: 1.6rem;
      margin-bottom: 0.6rem;
    }
    &_bottom > p {
      font-size: 1.2rem;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
.course_type_voucher {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  & > div {
    flex: 1;
  }
  & > label {
    font-size: 1.8rem;
    margin-right: 1.5rem;
  }
}
.voucher_right {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex: 1;
}
.voucher_right_drop {
  background-color: #ccc;
  border-radius: 1rem;
}
.voucher_dropzone {
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  & > i {
    font-size: 3rem;
  }
  &_img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}
.voucher_right_save {
  margin-top: 4rem;
  text-align: center;
  & > button {
    padding: 1rem 3rem;
    background-color: #ff7c53;
  }
}
.voucher_bottom {
  display: flex;
  justify-content: center;
}
.title_voucher {
  position: absolute;
  top: 0;
  z-index: 5;
  left: 0;
  font-size: 3.5rem;
  outline: none;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.4);
}
.modal_search {
  margin-top: 1rem;
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  border-radius: 2rem;
  & > input {
    flex: 1;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: 600;
  }
  & > i {
    padding: 0 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.courses_notFound {
  text-align: center;
  font-size: 3.5rem;
}
