@import "../style.module.scss";

.footer {
  display: flex;
  background-color: #181821;
  padding: 68px 0 40px;
  color: #a9b3bb;
  &_warper {
    margin: 0 auto;
    display: flex;
    min-width: 700px;
    flex-wrap: wrap;
    @include mobile {
      min-width: 0;
    }
  }
}
.footer_info {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  @include middleSmall {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
  &_header {
    display: flex;

    align-items: center;
    & > h2 {
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
    }
  }
  &_body {
    margin-top: 10px;
    & > p {
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #a9b3bb;
    }
  }
}
.footer_company {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  align-items: flex-end;
  @include middleSmall {
    width: 100%;
    align-items: flex-start;
    margin-top: 3rem;
    justify-content: center;
  }
  @include mobile {
    width: 100%;
    align-items: flex-start;
    margin-top: 3rem;
    justify-content: center;
  }
  &_header > h2 {
    color: #fff;
    font-size: 2.2rem;
    margin: 5px 0;
  }
  &_body {
    margin-top: 10px;
    & > p {
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #a9b3bb;
    }
  }
}
.footer_info_header_img {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  margin-right: 10px;
}
.footer_bottom {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
  @include mobile {
    flex-wrap: wrap;
  }

  &_left {
    font-size: 1.6rem;
    @include middleSmall {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
  }
  &_right {
    text-decoration: none;
    @include middleSmall {
      width: 100%;
    }
    @include mobile {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 2rem;
    }
  }
  &_right > a:hover > i {
    transition: 0.3s;
    animation: zoomIn 0.3s ease-in;
  }
  &_right > a > i {
    font-size: 3rem;
    padding: 0 10px;
  }
}
.youtube {
  color: #e74c3c;
}
.facebook {
  color: #4867aa;
}

@keyframes zoomIn {
  from {
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
