.auth {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/sttruyen/image/upload/v1676454388/stlearning/jrhusdag31joi5nuxw2g.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    &_container {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        align-items: center;
    }
    &_wrap {
        width: 50%;
        min-height: 10rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.8);
        border-radius: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.6);
        padding: 1rem;
        &_title {
            width: 100%;
            text-align: center;
            margin-top: 0.5rem;
            font-size: 2rem;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.8);
        }
        &_input {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 2rem;
            & > label {
                width: 100%;
                font-size: 1.7rem;
                color: rgba(0, 0, 0, 0.8);
                margin-bottom: 1rem;
                margin-left: 0.8rem;
                font-weight: 800;
            }
            & > input {
                width: 100%;
                height: 6rem;
                border-radius: 5rem;
                padding: 0 1.3rem;
                outline: none;
                font-size: 1.7rem;
                background-color: transparent;
                color: rgba(0, 0, 0, 0.8);
                &::placeholder {
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
        &_forgot {
            width: 100%;
            text-align: center;
            margin-top: 2rem;
            &_link {
                color: red;
                font-size: 1.5rem;
            }
        }
        &_appear {
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            & > label {
                font-size: 1.7rem;
                color: rgba(0, 0, 0, 0.8);
                margin-right: 1rem;
            }
            & > input {
                width: 2rem;
                height: 2rem;
            }
        }
        &_button {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            & > button {
                width: 15rem;
                height: 4.8rem;
                background-color: #ff8a08;
                border: none;
                color: rgba(0, 0, 0, 0.8);
                border-radius: 4rem;
                font-size: 1.7rem;
                cursor: pointer;
                transition: all ease 0.1s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &_register {
            margin-top: 1rem;
            color: rgba(0, 0, 0, 0.8);
            font-size: 1.5rem;
            &_link {
                color: rgba(0, 0, 0, 0.8);
            }
        }
        &_other {
            width: 100%;
            margin-top: 3rem;
            padding: 0 2rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;

            &_fb {
                background-color: #0e8df2;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(0, 0, 0, 0.8);
                font-size: 1.5rem;
                border-radius: 0.5rem;
                padding: 0 1rem;
                margin-left: 1rem;
                height: 3.35rem;
                cursor: pointer;
            }
        }
    }
}
