.b_tstt {
  width: 5%;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.b_tuser {
  width: 30%;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.b_tblog {
  width: 55%;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.b_row {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  height: 10rem;
}
.b_stt {
  font-size: 1rem;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 5%;
}
.b_user {
  width: 30%;

  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.b_tbars {
  width: 10%;
}
.b_user_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  &_img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &_info {
    font-size: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    cursor: pointer;
    color: #9ad0f5;
  }
}
.b_content {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  padding: 0 2rem;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  & > div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_top {
    margin-bottom: 1rem;
    & > h3 {
      font-size: 2rem;
    }
  }
}
.b_row {
  width: 100%;
}
.b_option {
  text-align: center;
  & > i {
    font-size: 2rem;
    background-color: #ccc;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
  }
}
